@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "맑은 고딕", "돋움";
    font-size: 0.75em;
    color: #333;
}
li{
    padding-left: 15px;
    line-height: 1.8em;
    background-image: url('../images/bullet11.jpg');
    background-repeat: no-repeat;
    background-position: 0 8px;
}
ul	{
    margin-left: 20px;
    list-style: none;
}