@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: "맑은 고딕", "돋움";
    font-size: 0.75em;
    color: #333;
}
table, th, td {
    border: 1px solid;
}
.tbl-ex {
    border-collapse: collapse;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #333;
}
th, td {
    padding: 8px;
    border: 1px solid #333;
}
th {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-size: 1.1em;
    background-color: #999;
    color: #fff;
}
.tbl-ex, th, td {
    border-left: 0;
    border-right: 0;
}
td {
    border-left: 0;
    border-right: 0;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}
tr:nth-child(even) {
    background-color: #E8ECF6;
}
tr:hover{
    background-color: #fc6;
    cursor: pointer;
}